VLM_MODEL_ID=Qwen/Qwen2-VL-72B-Instruct
LLM_MODEL_ID=meta-llama/Meta-Llama-3.1-70B-Instruct
TENSOR_PARALLEL_SIZE=4
MAX_NEW_TOKENS_VLM=900
MAX_NEW_TOKENS_LLM=700
TEMPERATURE=0.1
TOP_P=0.95
DTYPE=bfloat16
OUTPUT_DIR=outputs
